section {
  scroll-margin-top: 80px;
}

/* .responsive-bg {
  background-image: url('/img/Ay.jpeg');
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .responsive-bg {
    background-image: url('/img/Ay.jpeg');
  }
} */